@charset "UTF-8";

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96.6vw;
    height: 1300px;
    background-color: #0A0C1B;
}

#container {
    width: 435px;
    height: fit-content;
    border-radius: 10px;
    overflow: hidden;
    background-color: #1C1937;
    transform: scale(0.9);
}

#color {
    width: 435px;
    height: 330px;
    border-radius: 8px 8px 0px 0px;
    background-color: rgba(87, 0, 128, 0.55);
    position: absolute;
    z-index: 2;
}

#img {
    width: 450px;
    height: 330px;
    background: white url(../images/image-header-mobile.jpg) no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;
}

#text {
    text-align: center;
    padding: 55px 40px;
}

#text > h1 {
    font-size: 2.4em;
    color: white;
}

#text > h1 > span {
    color: #9662ca;
}

#text > p {
    padding-top: 20px;
    font-size: 1.2em;
    letter-spacing: 1px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
}

#ammounts {
    padding-top: 20px;
    font-size: 0.9em;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
}

#ammounts h1 {
    padding: 40px 0px 10px 0px;
    font-size: 2.1em;
    color: white;
}
